@use "../sass/variables";

.hidden-title {
  display: none;
}
.title {
  font-size: 1.3rem;
  font-weight: 600;
  color: variables.$color-white;
  &:hover {
    color: variables.$color-cyan;
  }
}
